.home {
  p {
    color: $color-text;
  }

  &-hero {
    .col-left {
      @media all and (min-width: $desktop) {
        width: calc(100% - 600px);
      }
    }

    .button-action {
      &::after {
        content: '';
        display: block;
        margin: 0 0 0 30px;
        width: 40px;
        height: 12px;
        background-image: url('/assets/icons/icon-arrow-black.svg');
        transition: all 0.2s;
      }

      &:hover {
        color: $color-text;

        &::after {
          margin: 0 0 0 40px;
          background-image: url('/assets/icons/icon-arrow-grey.svg');
        }
      }
    }

    .swiper-buttons {
      .button:hover {
        background-color: #444;
      }
    }
  }
}
